body {
    background-image: linear-gradient(to bottom right, #a8e063, #56ab2f);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Card styling */
  .card {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f8f8;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  /* Input styling */
  input[type="text"] {
    padding: 10px;
    margin-right: 10px;
    border: none;
    border-bottom: 2px solid #ccc;
    font-size: 16px;
    color: #555;
    width: 100%;
  }
  
  input[type="text"]::placeholder {
    color: #aaa;
  }
  
  /* Button styling */
  button {
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #3e8e41;
  }
  
  /* Show items styling */
  .showitems {
    margin-top: 20px;
  }
  
  .showitems input[type="text"] {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #ccc;
    font-size: 16px;
    color: #555;
  }
  
  .showitems button {
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .showitems button:hover {
    background-color: #d32f2f;
  }
 
  .ans {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .ans input[type="text"] {
    flex: 1;
    padding: 10px;
    border: none;
    font-size: 16px;
    color: #555;
    background-color: transparent;
  }
  
  .ans button {
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .ans button:hover {
    background-color: #d32f2f;
  }
  button:hover{
    background-color: #d32f2f;



}
  